.navbar ul li{
  margin: 5px 15px;
}


.navbar .navbar-nav .nav-item .login-link{
  text-decoration: none;
  color: black;

}

.header{
  width: 100%;
  height: 60%;
}

.header .container .row h2{
  padding:150px 0px;
}

footer{
color: white;
font-size: large;
font-weight: 400;
}

footer ul li a{
  text-decoration: none;
  color: white;
}
